<div class="row">
<div class="slidepad">
<div class="homeslider-container s-panel">
<div class="loader wrloader"></div>
<div id="slideshow{{ module }}" class="slideshow slider-for">
    {% for banner in banners %}
        <div class="">
      <div class="slideimg">
        {% if banner.link %}
          <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive center-block" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive center-block" />
        {% endif %}
       </div>
      <div class="slidertext">
      <div class="slideff">
         <div class="slidesmall">
        {{ banner.description }}
        <a href="{{ banner.link }}" class="btn btn-primary">{{ shop_now }}</a>
      </div>
      </div>
      </div>
    </div>
      {% endfor %}

</div>
</div>
</div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        dots: false,
        autoplay: true,
        autoplaySpeed: 5000,
        fade: true
    });

});
</script>